@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.pg2, .pg3 {
    background-color: green;
}

.pg2 header, .pg3 header {
    background-color: gray;
}

.pg2 header ul li, .pg3 header ul li {
    display: inline-block;
    font-size: 40px;
    padding: 10px;
}

.pg2 header ul li a, .pg3 header ul li a {
    text-decoration: none;
    color: white;
}

.pg2 header ul li:hover, .pg3 header ul li:hover {
    background-color: chartreuse;
    color: orange;
}

.pg2 main {
    padding: 20px 40px;
}

.pg2 main h2 {
    padding: 0 0 10px 0;
}

.pg2 .sect2 {
    background-color: rgb(175, 224, 125);
    padding: 20px;
    font-size: 15spx;
}

.pg3 header ul {
    text-align: center;
}

.pg3 .text-block {
    background-color: rgb(127, 255, 144);
    margin: 20px 0;
    padding: 20px
}

.pg3 .main {
    width: 80%;
    margin:40px auto;
}

.pg3 .main img {
    width: 100%;
}
